/*
 * Project: Mikmak Studio
 * File: Main styles
 */

// ==========================================================================
// _VARIABLES
// ==========================================================================
@min-width: 320px;
@md-width: 970px;
@lg-width: 1560px;

@xs: ~"(min-width: 568px)";
@sm: ~"(min-width: 750px)";
@md: ~"(min-width: 970px)";
@lg: ~"(min-width: 1280px)";
@xl: ~"(min-width: 1560px)";

@font-family: 'BentonSans', Arial, sans-serif;
@font-awesome: 'FontAwesome', sans-serif;

@color-black: #000;
@color-light: #ccc;
@color-white: #fff;

@color-preloader: #d8c8ad;
@color-section-0: #f65c8b;
@color-section-1: #f78a42;
@color-section-2: #f9c543;
@color-section-3: #d5d3d0;
@color-section-4: #3fa972;
@color-section-5: #8e95fb;
@color-section-6: #f9bf57;
@color-section-7: #faa9e5;
@color-section-8: #f78378;

@margin-sm: 14px;
@margin-md: 18px;
@margin-lg: 24px;

@duration: .2s ease;
@duration-small: .1s;
@images: '../img';

// ==========================================================================
// _MIXINS
// ========================================================================== */
// COLORS
.color-white(@opacity) { @color: rgba(255, 255, 255, @opacity); }
.color-black(@opacity) { @color: rgba(0, 0, 0, @opacity); }
// ROTATE
.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
  -webkit-backface-visibility: hidden;
}
/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/bentonsans-medium-sc-webfont.eot');
  src: url('../fonts/bentonsans-medium-sc-webfont.woff') format('woff'), url('../fonts/bentonsans-medium-sc-webfont.ttf') format('truetype'), url('../fonts/bentonsans-medium-sc-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/bentonsans-bold-sc-webfont.eot');
  src: url('../fonts/bentonsans-bold-sc-webfont.woff') format('woff'), url('../fonts/bentonsans-bold-sc-webfont.ttf') format('truetype'), url('../fonts/bentonsans-bold-sc-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 11px @font-family;
  color: @color-black;
  overflow: hidden;
  background: @color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: @min-width;
  height: 100%;
  overflow: hidden;
  background: @color-section-0;
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 @margin-sm;
}
ul, ol {
  padding: 0 0 0 @margin-sm;
  margin: 0 0 @margin-sm;
}
:focus { outline: -webkit-focus-ring-color auto 0; }
a {
  color: @color-black;
  outline: none;
  text-decoration: none;
  transition: color @duration;
  &:hover, &:focus { outline: none; text-decoration: underline; }
}
audio, canvas, img, video { vertical-align: middle; }
/* ==========================================================================
   _HEADINGS
   ========================================================================== */
.heading-default {
  margin: 0;
  line-height: normal;
  font-weight: 300;
  color: @color-black;
  text-transform: uppercase;
}
.h1 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 24px;
  font-style: normal;
}
.h2 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 21px;
  font-style: normal;
}
.h3 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 21px;
  font-style: normal;
}
.h4 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 14px;
  font-style: normal;
}
.h5 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 12px;
  font-style: normal;
}
.h6 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 16px;
  font-style: normal;
}
h1 {&:extend(.h1); }
h2 {&:extend(.h2); }
h3 {&:extend(.h3); }
h4 {&:extend(.h4); }
h5 {&:extend(.h5); }
h6 {&:extend(.h6); }
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix { display: table; content: '\0020'; clear: both; }
.before { display: block; content: '\0020'; overflow: hidden; }
.hidden { display: none; }
.unselectable { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; -o-user-select: none; user-select: none; }
/* Wrapper */
.wrapper {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  &:after { .clearfix; }
}
/* ==========================================================================
   _PRELOADER
   ========================================================================== */
@preloader-width: 400px;
@preloader-keyframes: 25;
@preloader-duration: 1.2s / 30 * @preloader-keyframes;
.keyframes(@name) {
  @-webkit-keyframes @name { .-frames(-webkit-); }
  @-moz-keyframes @name { .-frames(-moz-); }
  @-ms-keyframes @name { .-frames(-ms-); }
  @-o-keyframes @name { .-frames(-o-); }
  @keyframes @name { .-frames(); }
}
.percent(@n, @i: 0, @p: @i * 100% / @preloader-keyframes) when (@i =< @n) {
  @{p} {
    background-position: 0 -(@i * @preloader-width);
  }
  .percent(@n, (@i + 1));
}
& {
  .keyframes(preloader-animation);
  .-frames(@-...) {
    .percent(@preloader-keyframes);
  }
}
.preloader {
  margin: auto;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  background: @color-preloader;
  transition: opacity 1.5s .5s ease;
  .unselectable;

  &:before {
    width: @preloader-width;
    height: @preloader-width;
    margin: auto;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: @color-preloader url('@{images}/preloader.jpg') center center no-repeat;
    background-size: @preloader-width @preloader-width * (@preloader-keyframes + 1);
    animation-duration: @preloader-duration;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-name: preloader-animation;
    transition: opacity .5s ease;

    .preloading-hidden & { opacity: 0 !important; }
    .loading-hidden & { opacity: 1; }
  }

  .loading-hidden & { opacity: 1; }
  .loading & { display: block; }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  cursor: default;
  opacity: 1;
  transition: opacity @duration;

  .ui-hidden & { opacity: 0; }

  .logo {
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    top: 15px;
    left: 20px;
    .unselectable;

    @media @sm {
      width: 150px;
      height: 150px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .language {
    margin: 0;
    display: block;
    position: absolute;
    top: 30px;
    right: 75px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: @color-white;
    letter-spacing: .1em;

    a {
      color: @color-white;
      &.active { color: @color-black; cursor: default; }
      &:hover, &:focus { color: #000; text-decoration: none; }
    }
  }

  .toggle {
    width: 37px;
    height: 37px;
    border: 3px solid @color-black;
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    background: @color-white;
    transition: background-color @duration-small;

    &:before, &:after {
      width: 20px;
      height: 3px;
      margin: -1px 0 0 -10px;
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      overflow: hidden;
      content: '';
      background: @color-black;
      transition: background-color @duration-small;
    }
    &:after { .rotate(90deg); }
    &:hover {
      background: @color-black;
      &:before, &:after { background: @color-white; }
    }
  }
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
  width: 225px;
  border: 3px solid @color-black;
  display: none;
  position: absolute;
  top: 55px;
  right: 25px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: .15em;
  z-index: 10;
  background: @color-white;

  .nav-open & { display: block; }

  .menu {
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      > a {
        padding: 4px 8px;
        border-top: 3px solid @color-black;
        display: block;
        transition: color @duration-small, background-color @duration-small;

        &:focus, &:hover {
          color: @color-white;
          text-decoration: none;
          background: @color-black;
        }
      }
      &:first-child > a { border: none; }
    }
  }
}
/* ==========================================================================
   _MAIN
   ========================================================================== */
.main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  cursor: default;
  .unselectable;
}
.page {
  width: 100%;
  height: 100%;
  position: fixed;
}
/* ==========================================================================
   _INDEX
   ========================================================================== */
.sections {
  @duration-section: .4s;
  width: 100%;
  height: 100%;
  position: relative;

  > .section {
    display: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    background: @color-white;
    transition: opacity .2s;

    &.pre { display: block; }
    &.active { opacity: 1; transition: opacity @duration-section; }

    > a {
      border: 3px solid @color-black;
      display: block;
      position: relative;
      z-index: 5;
      text-transform: uppercase;
      transition: background-color @duration-small, color @duration-small;

      &:before, &:after {
        width: 14px;
        height: 3px;
        margin: -1px -7px 0 0;
        display: block;
        position: absolute;
        bottom: 12px;
        right: 16px;
        z-index: 10;
        overflow: hidden;
        content: '';
        background: @color-white;
        transition: background-color @duration-small;
      }
      &:after { .rotate(90deg); }

      .text {
        padding: 6px 36px 5px 7px;
        margin: 0;
        font-size: 15px;
        line-height: 18px;
        font-weight: bold;
        letter-spacing: .125em;
        color: inherit;
        display: block;
      }

      .heading {
        padding: 9px 36px 5px 7px;
        border-top: 3px solid @color-black;
        margin: 0;
        font-size: 11px;
        line-height: 14px;
        font-style: normal;
        font-weight: bold;
        letter-spacing: .125em;
        color: inherit;
        display: block;

        &:before {
          width: 38px;
          height: 34px;
          display: block;
          content: '';
          position: absolute;
          right: -3px;
          bottom: -3px;
          z-index: 1;
          background: @color-black;
        }
      }

      &:focus, &:hover {
        color: @color-white;
        text-decoration: none;
        background: @color-black;
      }
    }

    &-about { margin: -13.5vw 0 0 6vw; }
    &-process { margin: -10.5vw 0 0 -17vw; }
    &-news { margin: -2vw 0 0 19vw; }
    &-skills { margin: 8vw 0 0 17vw; }
    &-viralize { margin: -2vw 0 0 -35.5vw; }
    &-references { margin: -4vw 0 0 -18vw; }
    &-contact { margin: -13vw 0 0 11vw; }
  }
}
/** Dots */
.dots {
  width: 219px;
  margin: auto;
  overflow: hidden;
  display: block;
  position: fixed;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 10;
  .unselectable;
  opacity: 1;
  transition: opacity @duration;

  @media @sm {
    width: 683px;
    bottom: 40px;
  }

  .ui-hidden & { opacity: 0; }

  > a {
    width: 30px;
    height: 10px;
    border: 3px solid @color-black;
    display: block;
    float: left;
    overflow: hidden;
    text-indent: -1000px;
    background: @color-white;
    transition: background-color @duration;

    @media @sm {
      width: 88px;
      height: 15px;
    }

    &:first-child { display: none; }
    &:not(:nth-child(2)) { margin-left: -3px; }
    &.played { background: @color-light; }
    &.active { background: @color-black; }
  }
}
/* ==========================================================================
   _VIDEO
   ========================================================================== */
.audio {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
.video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  .unselectable;

  & video {
    width: auto;
    max-width: 3200px;
    height: 100%;
    max-height: 1800px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    &.visible { opacity: 1; }

    &.backward {
      /*
      width: 400px;
      height: 200px;
      margin-top: -400px !important;
      margin-right: -300px !important;
      z-index: 100 !important;
      opacity: 1 !important;
      */
    }

    @media @md {
      width: 200%;
      height: auto;
    }
  }
  .audio {
    display: none;
  }
}