/*
 * Project: Mikmak Studio
 * File: Main styles
 */

// ==========================================================================
// _VARIABLES
// ==========================================================================
@min-width: 320px;
@md-width: 970px;
@lg-width: 1560px;

@i5: ~"(max-width: 320px)";
@i6: ~"(max-width: 414px)";
@i6y: ~"(max-height: 414px)";
@xss: ~"(max-width: 568px)";
@xs: ~"(min-width: 568px)";
@xsi6: ~"(min-width: 650px)";
@smm: ~"(max-width: 750px)";
@sm: ~"(min-width: 750px)";
@md: ~"(min-width: 970px)";
@lg: ~"(min-width: 1280px)";
@xl: ~"(min-width: 1560px)";

@font-bentonsans: 'BentonSans', Arial, sans-serif;
@font-helvetica: 'Helvetica', Arial, sans-serif;
@font-awesome: 'FontAwesome', sans-serif;

@color-black: #000;
@color-light: #ccc;
@color-white: #fff;

@color-preloader: #d8c8ad;
@color-section-0: #ff477f;
@color-section-1: #f4853d;
@color-section-2: #fbbd32;
@color-section-3: #d0ccc9;
@color-section-4: #189365;
@color-section-5: #7c84bf;
@color-section-6: #fcb741;
@color-section-7: #ebaacc;
@color-section-8: #f78378;

@color-page-0: #ff477f;
@color-page-1: #5f9fab;
@color-page-2: #7dc74c;
@color-page-3: #ec84ac;
@color-page-4: #c6b8bb;
@color-page-5: #e9675e;
@color-page-6: #959595;
@color-page-7: #f9ee99;

@margin-sm: 14px;
@margin-md: 18px;
@margin-lg: 24px;

@duration: .2s ease;
@duration-small: .1s;
@images: '../img';

// ==========================================================================
// _MIXINS
// ========================================================================== */
// COLORS
.color-white(@opacity) { @color: rgba(255, 255, 255, @opacity); }
.color-black(@opacity) { @color: rgba(0, 0, 0, @opacity); }
// ROTATE
.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
  -webkit-backface-visibility: hidden;
}
.scale(@deg) {
  -webkit-transform: scale(@deg);
  -moz-transform: scale(@deg);
  -ms-transform: scale(@deg);
  -o-transform: scale(@deg);
  transform: scale(@deg);
  -webkit-backface-visibility: hidden;
}
.transform (@a) {
  -webkit-transform: @a;
  -moz-transform: @a;
  -ms-transform: @a;
  -o-transform: @a;
  transform: @a;
  -webkit-backface-visibility: hidden;
}
/* TRANSLATE */
.translate(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
  -moz-transform: translate3d(@x, @y, @z);
  -ms-transform: translate3d(@x, @y, @z);
  -o-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
  -webkit-backface-visibility: hidden;
}
.transition-translate(@d) {
  -webkit-transition: -webkit-transform @d;
  -moz-transition: -moz-transform @d;
  -ms-transition: -ms-transform @d;
  -o-transition: -o-transform @d;
  transition: transform @d;
}
.transition-none {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/bentonsans-medium-sc-webfont.eot');
  src: url('../fonts/bentonsans-medium-sc-webfont.woff') format('woff'), url('../fonts/bentonsans-medium-sc-webfont.ttf') format('truetype'), url('../fonts/bentonsans-medium-sc-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/bentonsans-bold-sc-webfont.eot');
  src: url('../fonts/bentonsans-bold-sc-webfont.woff') format('woff'), url('../fonts/bentonsans-bold-sc-webfont.ttf') format('truetype'), url('../fonts/bentonsans-bold-sc-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 13px/15px @font-helvetica;
  color: @color-black;
  overflow: hidden;
  background: @color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: @min-width;
  height: 100%;
  min-height: @min-width;
  overflow: hidden;
  background: @color-preloader;
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 @margin-sm;
}
ul, ol {
  padding: 0 0 0 @margin-sm;
  margin: 0 0 @margin-sm;
}
:focus { outline: -webkit-focus-ring-color auto 0; }
a {
  color: @color-black;
  outline: none;
  text-decoration: none;
  transition: color @duration;
  &:hover, &:focus { outline: none; text-decoration: underline; }
}
audio, canvas, img, video { vertical-align: middle; }
/* ==========================================================================
   _HEADINGS
   ========================================================================== */
.heading-default {
  margin: 0;
  font-family: @font-bentonsans;
  line-height: normal;
  font-weight: 300;
  color: @color-black;
  text-transform: uppercase;
}
.h1 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 24px;
  font-style: normal;
}
.h2 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 21px;
  font-style: normal;
}
.h3 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 21px;
  font-style: normal;
}
.h4 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 14px;
  font-style: normal;
}
.h5 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 12px;
  font-style: normal;
}
.h6 {
  &:extend(.heading-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 16px;
  font-style: normal;
}
h1 {&:extend(.h1); }
h2 {&:extend(.h2); }
h3 {&:extend(.h3); }
h4 {&:extend(.h4); }
h5 {&:extend(.h5); }
h6 {&:extend(.h6); }
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix { display: table; content: ''; clear: both; }
.before { display: block; content: ''; overflow: hidden; }
.hidden { display: none; }
.unselectable { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; -o-user-select: none; user-select: none; }
/* Wrapper */
.wrapper {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  &:after { .clearfix; }
}
/* ==========================================================================
   _PRELOADER
   ========================================================================== */
@preloader-width: 400px;
@preloader-keyframes: 25;
@preloader-duration: 1.2s / 30 * @preloader-keyframes;
.keyframes(@name) {
  @-webkit-keyframes @name { .-frames(-webkit-); }
  @-moz-keyframes @name { .-frames(-moz-); }
  @-ms-keyframes @name { .-frames(-ms-); }
  @-o-keyframes @name { .-frames(-o-); }
  @keyframes @name { .-frames(); }
}
.percent(@n, @i: 0, @p: @i * 100% / @preloader-keyframes) when (@i =< @n) {
  @{p} {
    background-position: 0 -(@i * @preloader-width);
  }
  .percent(@n, (@i + 1));
}
& {
  .keyframes(preloader-animation);
  .-frames(@-...) {
    .percent(@preloader-keyframes);
  }
}
.preloader {
  margin: auto;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  background: @color-preloader;
  transition: opacity 1.5s .5s ease;
  .unselectable;

  &:before {
    width: @preloader-width;
    height: @preloader-width;
    margin: auto;
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: -10px;
    opacity: 0;
    background: @color-preloader url('@{images}/preloader.jpg') center center no-repeat;
    background-size: @preloader-width @preloader-width * (@preloader-keyframes + 1);
    animation-duration: @preloader-duration;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-name: preloader-animation;
    transition: opacity .5s ease;
    .scale(.5);

    @media @i5 {
      width: 100%;
      top: 0;
      left: 0;
      background: @color-preloader url('@{images}/preloader.gif') center center no-repeat;
      animation: none;
    }

    @media @sm {
      top: 0;
      left: 0;
      .scale(1);
    }

    .preloading-hidden & { opacity: 0 !important; }
    .loading-hidden & { opacity: 1; }
  }

  .loading-hidden & { opacity: 1; }
  .loading & { display: block; }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  cursor: default;
  opacity: 1;
  transition: opacity @duration;

  .mobile & { position: fixed; }

  .ui-hidden & { opacity: 0; }

  .logo {
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    top: 15px;
    left: 20px;
    .unselectable;

    @media @sm {
      width: 120px;
      height: 120px;
    }

    @media @lg {
      width: 150px;
      height: 150px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .language {
    margin: 0;
    display: block;
    position: absolute;
    top: 32px;
    right: 78px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: @color-white;
    letter-spacing: .1em;
    transition: opacity @duration;

    .inner & { opacity: 0; }

    a {
      color: @color-white;
      &.active { color: @color-black; cursor: default; }
      &:hover, &:focus { color: #000; text-decoration: none; }
    }
  }

  .toggle {
    @duration-toggle: .5s ease;
    width: 37px;
    height: 37px;
    border: 3px solid @color-black;
    display: block;
    position: absolute;
    top: 22px;
    right: 29px;
    background: @color-white;
    //transition: background-color @duration-small;
    .transition-translate(@duration-toggle);

    .inner & {
      .rotate(45deg);
    }

    &:before, &:after {
      width: 21px;
      height: 3px;
      margin: auto;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      background: @color-black;
    }
    &:after { .rotate(90deg); }
    &:hover {
      background: @color-black;
      &:before, &:after { background: @color-white; }
    }
  }
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
  width: 225px;
  border: 3px solid @color-black;
  display: none;
  position: absolute;
  top: 56px;
  right: 29px;
  font: bold 11px/12px @font-bentonsans;
  text-transform: uppercase;
  letter-spacing: .15em;
  z-index: 10;
  background: @color-white;

  @media @sm {
    font-size: 12px;
    line-height: 14px;
  }

  .mobile & { position: fixed; }
  .nav-open & { display: block; }

  .menu {
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      > a {
        padding: 4px 8px;
        border-top: 3px solid @color-black;
        display: block;
        transition: color @duration-small, background-color @duration-small;

        &:focus, &:hover {
          color: @color-white;
          text-decoration: none;
          background: @color-black;
        }
      }
      &:first-child > a { border: none; }
    }
  }
}
/* ==========================================================================
   _MAIN
   ========================================================================== */
.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 5;
  cursor: default;
  .mobile & { position: fixed; }
}
/* ==========================================================================
   _SECTIONS
   ========================================================================== */
.sections {
  @duration-section: .4s;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 10;

  > .section {
    width: 100%;
    height: 100% !important;
    position: relative;
    z-index: 20;

    body:not(.mobile) & {
      display: none;
      opacity: 0;
      transition: opacity .2s;
      &.pre { display: block; }
      &.active { opacity: 1; transition: opacity @duration-section; }
    }

    .area {
      position: absolute;
      top: 50%;
      left: 50%;
      background: @color-white;

      .link {
        border: 3px solid @color-black;
        display: block;
        position: relative;
        z-index: 5;
        font: bold 11px/16px @font-bentonsans;
        letter-spacing: .06em;
        text-transform: uppercase;
        transition: background-color @duration-small, color @duration-small;

        &:before, &:after {
          width: 14px;
          height: 3px;
          margin: -1px -7px 0 0;
          display: block;
          position: absolute;
          bottom: 8px;
          right: 12px;
          z-index: 10;
          overflow: hidden;
          content: '';
          background: @color-white;
          transition: background-color @duration-small;

          @media @sm {
            bottom: 10px;
          }
          @media @lg {
            bottom: 12px;
            right: 16px;
          }
        }
        &:after { .rotate(90deg); }

        &:focus, &:hover {
          color: @color-white;
          text-decoration: none;
          background: @color-black;
        }
      }

      .text, .heading {
        padding: 3px 34px 3px 4px;
        margin: 0;
        color: inherit;
        display: block;
        position: relative;

        @media @sm {
          padding: 4px 34px 3px 6px;
          letter-spacing: .125em;
        }

        @media @lg {
          padding-top: 6px;
          padding-right: 44px;
          padding-bottom: 4px;
          padding-left: 7px;
        }
      }

      .text {
        font-size: 11px;
        line-height: 12px;

        @media @sm {
          font-size: 13px;
          line-height: 16px;
        }

        @media @lg {
          font-size: 15px;
          line-height: 18px;
        }
      }

      .heading {
        border-top: 3px solid @color-black;
        font-size: 9px;
        line-height: 12px;

        @media @sm {
          font-size: 10px;
          line-height: 14px;
        }

        @media @lg {
          font-size: 11px;
          line-height: 16px;
        }

        &:before {
          width: 29px;
          display: block;
          content: '';
          position: absolute;
          top: -1px;
          right: -1px;
          bottom: -1px;
          z-index: 1;
          background: @color-black;

          @media @lg {
            width: 38px;
          }
        }
      }
    }

    .mobile & {
      background-size: contain !important;
      @media @i6y {
        background-size: auto 90% !important;
      }
    }
    .portrait & {
      background-size: 100% auto !important;
    }
    &-intro {
      .mobile & { background: @color-section-0 url('@{images}/sections/intro.png') center center no-repeat; }

      .area {
        width: 270px;
        margin: -20vh 0 0 -135px;
        top: 50%;
        left: 50%;
        right: auto;

        @media @md {
          width: 320px;
          margin-left: -160px;
        }

        .link {
          text-align: center;
          &:before, &:after { display: none; }

          .text {
            padding-left: 5px;
            padding-right: 5px;
            color: @color-white;
            font-size: 12px;
            letter-spacing: .3em;
            background: @color-black;

            @media @md {
              font-size: 14px;
            }
          }

          .heading {
            padding-left: 5px;
            padding-right: 5px;
            text-transform: none;
            color: @color-black !important;
            background: @color-white !important;
            &:before, &:after { display: none; }
          }
        }
      }
    }
    &-about {
      .mobile & { background: @color-section-1 url('@{images}/sections/about.png') center center no-repeat; }
      .area {
        margin: -13.5vw 0 0 6vw;
        @media @xss {
          margin: -16vw 0 0 2vw;
        }
      }
    }
    &-process {
      .mobile & { background: @color-section-2 url('@{images}/sections/process.png') center center no-repeat; }
      .area { margin: -11vw 6vw 0 0; left: auto; right: 50%; }
    }
    &-news {
      .mobile & { background: @color-section-3 url('@{images}/sections/news.png') center center no-repeat; }
      .area {
        margin: -2vw 0 0 18vw;
        @media @xss {
          margin: -12vw 0 0 8vw;
        }
      }
    }
    &-skills {
      .mobile & { background: @color-section-4 url('@{images}/sections/skills.png') center center no-repeat; }
      .area {
        margin: 7vw 0 0 16vw;
        @media @xss {
          margin-top: 1vw;
        }
      }
    }
    &-viralize {
      .mobile & { background: @color-section-5 url('@{images}/sections/viralize.png') center center no-repeat; }
      .area {
        margin: -2vw 0 0 -35.5vw;
        @media @xss {
          margin-top: -10vw;
        }
      }
    }
    &-references {
      .mobile & { background: @color-section-6 url('@{images}/sections/references.png') center center no-repeat; }
      .area { margin: -4vw 10vw 0 0; left: auto; right: 50%; }
    }
    &-contact {
      .mobile & { background: @color-section-7 url('@{images}/sections/contact.png') center center no-repeat; }
      .area { margin: -12vw 0 0 11vw; }
    }
    &-finish {
      .mobile & { background: @color-section-8 url('@{images}/sections/thankyou.png') center center no-repeat; }
    }

    .portrait &:not(.section-intro) {
      .area {
        @media @smm {
          margin-left: 0 !important;
          margin-right: 0 !important;
          left: auto;
          right: 5%;
        }
      }
      &-about {
        .area {
          margin-top: -21vw;
          @media @smm {
            margin-top: -33vw;
          }
        }
      }
      &-process {
        .area {
          margin-top: -18vw;
          @media @smm {
            margin-top: -24vw;
            right: auto;
            left: 5%;
          }
        }
      }
      &-news {
        .area {
          margin: -13vw 0 0 12vw;
          @media @smm {
            margin-top: -24vw;
          }
        }
      }
      &-skills {
        .area {
          margin-top: 15vw;
          @media @smm {
            margin-top: 30vw;
          }
        }
      }
      &-viralize {
        .area {
          margin-top: -10vw;
          @media @smm {
            margin-top: -15vw;
          }
        }
      }
      &-references {
        .area {
          margin-top: -10vw;
          @media @smm {
            margin-top: -12vw;
            right: auto;
            left: 5%;
          }
        }
      }
      &-contact {
        .area {
          margin-top: -16vw;
          @media @smm {
            margin-top: -23vw;
          }
        }
      }
    }
  }
}
/* ==========================================================================
   _VIDEO
   ========================================================================== */
.audio {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  audio { opacity: 0; }
}
/** Video */
.video {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  .unselectable;

  .mobile & { display: none; }

  & video {
    width: 100%;
    max-width: 1600px;
    height: auto;
    max-height: 1152px;
    border: none;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    .transform(translate(-50%, -50%));
    background-color: transparent !important;
    opacity: 0;

    body[browser="safari"] & {
      .transform(translate(-50%, -50%) scale(1.05));
    }

    &.visible { opacity: 1; }

    &.backward {
      /*
      width: 400px;
      height: 200px;
      margin-top: -400px !important;
      margin-right: -300px !important;
      z-index: 100 !important;
      opacity: 1 !important;
      */
    }
  }
  &.video-index video {
    width: 200%;
    max-width: 3200px;
    height: auto;
    max-height: 1800px;

    .portrait & {
      width: auto;
      height: 100%;
    }
  }
  .audio { display: none; }
}
/** Dots */
.dots {
  width: 246px;
  margin: auto;
  overflow: hidden;
  display: block;
  position: fixed;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 10;
  opacity: 1;
  text-align: center;
  transition: opacity @duration;

  @media @sm {
    width: 696px;
    bottom: 40px;
  }

  .ui-hidden & { opacity: 0; }

  > a {
    width: 30px;
    height: 10px;
    border: 3px solid @color-black;
    display: inline-block;
    overflow: hidden;
    text-indent: -1000px;
    background: @color-white;
    transition: background-color @duration;

    @media @sm {
      width: 80px;
      height: 15px;
    }

    &:not(:nth-child(1)) { margin-left: -3px; }
    &.played { background: @color-light; }
    &.active { background: @color-black; }
  }
}
/* ==========================================================================
   _PAGES
   ========================================================================== */
.page {
  @duration-page: .5s ease-in-out;
  @duration-content: .5s 2s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  .mobile & {
    position: fixed;
  }

  &:not(.page-index) {
    .translate(100%, 0, 0);
    .transition-translate(@duration-page);
  }

  body[browser="chrome"]:not(.mobile) & {
    .translate(0, 0, 0);
    .transition-none;
    opacity: 0;
    transition: opacity @duration-page;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 40%;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    @media @i6 {
      .portrait & {
        top: 3vh;
        right: 0;
        bottom: 40vh;
      }
    }
    @media @sm {
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  .content {
    width: 100%;
    max-width: 1680px;
    height: 100%;
    padding: 25vh 20px 20px;
    margin: 0 auto;
    position: relative;
    transition: opacity @duration-content;
    opacity: 0;
    z-index: 50;
    cursor: default;

    .mobile & { transition-delay: .5s; }

    @media @i6 {
      .portrait & { padding-top: 55vh; }
    }
    @media @sm {
      padding-top: 65vh;
    }
    @media @md {
      padding-top: 60vh;
    }
  }

  .white {
    width: 50%;
    padding: 10px 14px;
    border: 3px solid @color-black;
    position: relative;
    float: right;
    z-index: 15;
    font-size: 12px;
    line-height: 14px;
    background: @color-white;

    @media @i6 {
      .portrait & { width: auto; float: none; }
    }
    @media @sm {
      width: 45%;
    }
    @media @md {
      width: 360px;
    }
    @media @lg {
      padding: 10px 18px;
      font-size: 13px;
      line-height: 15px;
    }

    .space {
      padding: 2px 10px;
      margin: -2px -10px;
      max-height: 55vh;
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      @media @i6 {
        .portrait & { max-height: 35vh; }
      }
      @media @sm {
        max-height: 25vh;
      }

      &.ps-container {
        &.ps-active-y {
          padding-right: 21px;
        }

        > .ps-scrollbar-y-rail {
          width: 13px;
          border: 5px solid @color-white;
          border-radius: 0;
          right: 0 !important;
          opacity: 1 !important;
          background: @color-white;

          &:before {
            border: 3px solid @color-black;
            display: block;
            content: '';
            position: absolute;
            top: -5px;
            right: -5px;
            bottom: -5px;
            left: -5px;
            z-index: 5;
          }

          > .ps-scrollbar-y {
            width: 3px;
            border-radius: 0;
            z-index: 10;
            opacity: 1 !important;
            background: @color-black;
          }
        }
      }
    }

    .heading {
      padding: 4px 14px 3px;
      border-bottom: 3px solid @color-black;
      margin: -10px -14px 10px;
      font-size: 12px;
      line-height: 14px;
      font-weight: bold;
      position: relative;
      letter-spacing: .1em;
      text-transform: none;
      display: block;

      @media @lg {
        padding: 5px 18px 4px;
        margin-right: -18px;
        margin-left: -18px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: .2em;
      }
    }

    p {
      margin-bottom: 12px;
      &:last-of-type { margin-bottom: 0; }
    }
  }

  &.pre { display: block; }
  &.active {
    .translate(0, 0, 0);
    .content { opacity: 1; }

    body[browser="chrome"]:not(.mobile) & {
      opacity: 1;
      transition: opacity @duration-page;
    }
  }

  &-scrollable {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .content {
      @media @xsi6 {
        max-width: 580px;
        .white { width: 100%; }
      }
      @media @md {
        max-width: 850px;
      }
      @media @lg {
        max-width: 1120px;
      }
    }
  }

  /** Index */
  &-index {
    z-index: 1;
    display: block;
    position: relative;
    top: auto;
    left: auto;
    opacity: 1 !important;
    background: @color-page-0;
    .unselectable;
  }

  /** About */
  &-about {
    background-color: @color-page-1;
    .mobile & {
      &:before { background-image: url('@{images}/pages/about.png'); }
    }

    @media @md {
      .content { padding-top: 65vh; }
      .white {
        width: 435px;
        margin-right: 7.5vh;
        .space { max-height: 205px; }
      }
    }
  }

  /** Process */
  &-process {
    background-color: @color-page-2;
    .mobile & {
      &:before { background-image: url('@{images}/pages/process.png'); }
    }

    @media @md {
      .content { padding-top: 52vh; }
      .white {
        width: 360px;
        margin-right: 9.5vh;
        .space { max-height: 250px; }
      }
    }
  }

  /** News */
  &-news {
    background-color: @color-page-3;
    .mobile & {
      &:before {
        background-image: url('@{images}/pages/news.png');
        @media @sm {
          margin-top: -45vh;
        }
      }
      @media @xs {
        .content {
          .white { width: 45%; }
        }
      }
      @media @sm {
        .content {
          padding-top: 45vh;
          .white { width: 65%; }
        }
      }
      @media @md {
        .content { padding-top: 50vh; }
      }
      @media @lg {
        .content { padding-top: 60vh; }
      }
    }

    @media @md {
      .content {
        padding-top: 40vh;
        margin: 0 auto;
      }
      .white {
        width: 605px !important;
        margin-right: 0;
        .space { max-height: 140px; }
      }
      .video {
        video {
          max-height: 999px;
          margin-top: -32.6vh;
        }
      }
    }
  }

  /** Skills */
  &-skills {
    background-color: @color-page-4;
    .mobile & {
      &:before { background-image: url('@{images}/pages/skills.png'); }
    }

    @media @md {
      .content { padding-top: 63.8vh; }
      .white {
        width: 450px;
        margin-right: 10.5vh;
        .space { max-height: 205px; }
      }
    }
  }

  /** Viralize */
  &-viralize {
    background-color: @color-page-5;
    .mobile & {
      &:before { background-image: url('@{images}/pages/viralize.png'); }
    }

    @media @md {
      .content { padding-top: 68vh; }
      .white {
        width: 385px;
        margin-right: 23vh;
        .space { max-height: 150px; }
      }
    }
  }

  /** References */
  &-references {
    background-color: @color-page-6;
    .mobile & {
      &:before {
        background-image: url('@{images}/pages/references.png');
        @media @sm {
          margin-top: -20vh;
        }
      }
      @media @xs {
        padding-top: 30vh;
      }
      @media @sm {
        .content { padding-top: 27vh; }
      }
      @media @md {
        .content { padding-top: 35vh; }
      }
      @media @xl {
        .content { padding-top: 40vh; }
      }
    }

    @media @sm {
      .video {
        video {
          margin-top: -15vh;
          max-height: 999px;
        }
      }
    }
  }

  /** Contact */
  &-contact {
    background-color: @color-page-7;
    .mobile & {
      &:before { background-image: url('@{images}/pages/contact.png'); }
    }

    .social {
      position: absolute;
      left: 0;
      bottom: -3px;
    }

    @media @md {
      .content { padding-top: 30vh; }
      .white {
        width: 330px;
        margin-right: 15.7vh;
        .space {
          max-height: 200px;
          margin-bottom: 20px;
        }
      }
    }
  }

  body[browser="safari"] & {
    @color-page-1: #72a9b4;
    @color-page-2: #8ecb5c;
    @color-page-3: #ea94b5;
    @color-page-4: #cdc1c3;
    @color-page-5: #e6776c;
    @color-page-6: #a0a0a0;
    @color-page-7: #f9f0a7;

    &-about { background-color: @color-page-1; }
    &-process { background-color: @color-page-2; }
    &-news { background-color: @color-page-3; }
    &-skills { background-color: @color-page-4; }
    &-viralize { background-color: @color-page-5; }
    &-references { background-color: @color-page-6; }
    &-contact { background-color: @color-page-7; }
  }
}
/* ==========================================================================
   _SOCIAL NETWORKS
   ========================================================================== */
.social {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  li {
    border: 3px solid @color-black;
    margin-left: -3px;
    float: left;

    a {
      width: 20px;
      height: 20px;
      display: block;
      color: @color-black;
      background: @color-white;
      transition: color @duration, background-color @duration;

      &:hover {
        color: @color-white;
        background: @color-black;
      }
    }
  }
}
/* ==========================================================================
   _SCROLLBAR
   ========================================================================== */
&.ps-container {
  > .ps-scrollbar-y-rail {
    width: 12px;
    border: 3px solid transparent;
    right: 0 !important;
    opacity: .5 !important;
    background: none;

    > .ps-scrollbar-y {
      width: 6px;
      background: @color-black;
    }
  }
}
/* ==========================================================================
   _CORNER
   ========================================================================== */
.corner {
  width: 76px;
  border: 3px solid @color-black;
  display: block;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  background: @color-white;

  span, span:before, span:after {
    border: 3px solid @color-black;
    content: '';
    display: block;
    overflow: hidden;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    z-index: 1;
    background: @color-black;
    box-shadow: inset 0 0 0 3px @color-white;
  }

  span {
    &:after, > span { top: 9px; right: 9px; bottom: 9px; left: 9px; z-index: 2; }
    > span { z-index: 3; }
  }

  > span {
    width: 63px;
    height: 130px;
    top: -53px;
    .rotate(45deg);
  }
}
/* ==========================================================================
   _PORTFOLIO
   ========================================================================== */
.portfolio {
  width: 100%;
  padding-top: 40px;
  margin-bottom: 40px;
  clear: both;
  cursor: default;

  &:after { .clearfix; }

  .tabs {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    font: bold 11px/12px @font-bentonsans;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;

    &:after { .clearfix; }

    > li {
      width: 50%;
      float: left;
      margin-right: -3px;
      margin-bottom: 3px;
      &:last-child { margin-right: 0; }

      @media @xsi6 {
        width: 138px;
        &:first-child, &:nth-child(5n) { width: 135px; }
      }
      @media @md {
        &, &:nth-child(5n) { width: 205px; }
        &:first-child, &:nth-child(5n) { width: 204px; }
      }
      @media @lg {
        &, &:nth-child(5n) { width: 138px; }
        &:first-child { width: 135px; }
      }

      > a {
        height: 26px;
        padding: 4px;
        border: 3px solid @color-black;
        display: block;
        overflow: hidden;
        background: @color-white;
        transition: color @duration-small, background-color @duration-small;

        &:focus, &:hover {
          color: @color-white;
          text-decoration: none;
          background: @color-black;
        }
      }
    }
  }

  .list {
    margin: 0;
    &:after { .clearfix; }

    .panel {
      width: 260px;
      padding: 56px 34px 30px;
      border: 3px solid @color-black;
      margin: 5px auto;
      position: relative;
      background: #e1586e;

      @media @xsi6 {
        margin: 5px;
        float: left;
      }

      .heading {
        padding: 4px;
        border: 3px solid @color-black;
        margin: 0;
        font: bold 11px/12px @font-bentonsans;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        top: -3px;
        right: -3px;
        left: -3px;
        z-index: 15;
        background: @color-white;
      }

      .picture {
        padding: 0;
        margin: 0 auto;
        .color-black(.5);
        border: 3px solid @color-black;
        box-shadow: 6px 6px 0 0 @color;
        position: relative;
        z-index: 3;

        &:before, &:after {
          .before;
          clear: both;
          width: 0;
          height: 0;
          border-style: solid;
          .color-black(.5);
          position: absolute;
          z-index: 1;
        }
        &:before { left: -3px; bottom: -9px; border-width: 0 6px 6px 0; border-color: transparent @color transparent transparent; }
        &:after { right: -9px; top: -3px; border-width: 6px 0 0 6px; border-color: transparent transparent transparent @color; }

        img {
          width: 180px;
          height: 227px;
          display: block;
        }
      }

      .flip {
        border: 3px solid @color-black;
        margin: auto;
        position: absolute;
        top: 56px;
        left: 34px;
        bottom: 30px;
        right: 34px;
        z-index: 10;
        background: @color-white;
        transition: opacity @duration;
        opacity: 0;

        .name, .client, .date, .url, .tags {
          position: relative;
          display: block;
          font-family: @font-bentonsans;
          font-weight: bold;
          text-transform: uppercase;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .head {
          margin: 0;
          border-bottom: 3px solid @color-black;
          overflow: hidden;
        }

        .name {
          height: 24px;
          padding: 4px;
          border-bottom: 3px solid @color-black;
          margin: 0;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: .25em;
          text-align: center;
        }

        .client {
          width: 120px;
          padding: 4px 8px;
          margin: 0;
          float: left;
          font-size: 9px;
          line-height: 12px;
          letter-spacing: .1em;
        }

        .date {
          width: 60px;
          padding: 4px;
          border-left: 3px solid @color-black;
          margin: 0;
          float: right;
          text-align: center;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: .1em;
        }

        .text {
          width: 100%;
          padding: 12px 15px 0 15px;
          height: 122px;
          margin-bottom: 12px;
          overflow: hidden;
          font-size: 10px;
          line-height: 12px;

          p:last-child { margin: 0; }
        }

        .foot {
          margin: 0;
          overflow: hidden;
        }

        .url {
          border-top: 3px solid @color-black;
          border-bottom: 3px solid @color-black;
          padding: 4px 8px;
          font-size: 9px;
          line-height: 12px;
          letter-spacing: .1em;
          background: @color-white;
          transition: background-color @duration, color @duration;

          .corner { width: 48px; }

          &:hover {
            text-decoration: none;
            color: @color-white;
            background: @color-black;
          }
        }

        .tags {
          padding: 4px 8px;
          font-size: 9px;
          line-height: 12px;
          letter-spacing: .1em;
          text-align: center;
        }
      }

      &:before {
        .before;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        .color-black(.7);
        background: @color;
        transition: opacity @duration;
        opacity: 0;
      }

      &:hover {
        .flip { opacity: 1; }
        &:before { opacity: 1; }
      }
    }
  }
}