/*
 * Project: Mikmak Studio
 * File: Main styles
 */
/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/bentonsans-medium-sc-webfont.eot');
  src: url('../fonts/bentonsans-medium-sc-webfont.woff') format('woff'), url('../fonts/bentonsans-medium-sc-webfont.ttf') format('truetype'), url('../fonts/bentonsans-medium-sc-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/bentonsans-bold-sc-webfont.eot');
  src: url('../fonts/bentonsans-bold-sc-webfont.woff') format('woff'), url('../fonts/bentonsans-bold-sc-webfont.ttf') format('truetype'), url('../fonts/bentonsans-bold-sc-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 11px 'BentonSans', Arial, sans-serif;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  background: #fe467d;
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 14px;
}
ul,
ol {
  padding: 0 0 0 14px;
  margin: 0 0 14px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
a {
  color: #000;
  outline: none;
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: underline;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/* ==========================================================================
   _HEADINGS
   ========================================================================== */
.heading-default,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
}
.h1,
h1 {
  margin: 14px 0 14px;
  font-size: 24px;
  font-style: normal;
}
.h2,
h2 {
  margin: 14px 0 14px;
  font-size: 21px;
  font-style: normal;
}
.h3,
h3 {
  margin: 14px 0 14px;
  font-size: 21px;
  font-style: normal;
}
.h4,
h4 {
  margin: 14px 0 14px;
  font-size: 14px;
  font-style: normal;
}
.h5,
h5 {
  margin: 14px 0 14px;
  font-size: 12px;
  font-style: normal;
}
.h6,
h6 {
  margin: 14px 0 14px;
  font-size: 16px;
  font-style: normal;
}
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix {
  display: table;
  content: '\0020';
  clear: both;
}
.before {
  display: block;
  content: '\0020';
  overflow: hidden;
}
.hidden {
  display: none;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper:after {
  display: table;
  content: '\0020';
  clear: both;
}
@media (min-width: 1560px) {
  .wrapper {
    max-width: 1560px;
  }
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
  letter-spacing: inherit;
}
.pure-g [class*="pure-u"] {
  font-family: inherit;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  cursor: default;
}
.header .logo {
  width: 75px;
  height: 75px;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 15px;
  left: 20px;
}
@media (min-width: 750px) {
  .header .logo {
    width: 150px;
    height: 150px;
  }
}
.header .logo img {
  width: 100%;
  height: 100%;
  display: block;
}
.header .language {
  margin: 0;
  display: block;
  position: absolute;
  top: 30px;
  right: 75px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  letter-spacing: .1em;
}
.header .language a {
  color: #fff;
}
.header .language a.active {
  color: #000;
  cursor: default;
}
.header .language a:hover,
.header .language a:focus {
  color: #000;
  text-decoration: none;
}
.header .toggle {
  width: 37px;
  height: 37px;
  border: 3px solid #000;
  display: block;
  position: absolute;
  top: 20px;
  right: 25px;
  background: #fff;
  transition: background-color 0.1s;
}
.header .toggle:before,
.header .toggle:after {
  width: 20px;
  height: 3px;
  margin: -1px 0 0 -10px;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
  content: '';
  background: #000;
  transition: background-color 0.1s;
}
.header .toggle:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
}
.header .toggle:hover {
  background: #000;
}
.header .toggle:hover:before,
.header .toggle:hover:after {
  background: #fff;
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
  width: 225px;
  border: 3px solid #000;
  display: none;
  position: absolute;
  top: 55px;
  right: 25px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: .15em;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 10;
  background: #fff;
}
.nav-pre .nav {
  display: block;
}
.nav-open .nav {
  opacity: 1;
}
.nav .menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav .menu > li > a {
  padding: 4px 8px;
  border-top: 3px solid #000;
  display: block;
  transition: color 0.1s, background-color 0.1s;
}
.nav .menu > li > a:focus,
.nav .menu > li > a:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}
.nav .menu > li:first-child > a {
  border: none;
}
/* ==========================================================================
   _FULLPAGE
   ========================================================================== */
.main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.main .section {
  display: none;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  background: #fff;
  transition: opacity .2s;
}
.main .section.pre {
  display: block;
}
.main .section.active {
  opacity: 1;
  transition: opacity 0.4s;
}
.main .section a {
  border: 3px solid #000;
  display: block;
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  transition: background-color 0.1s, color 0.1s;
}
.main .section a:before,
.main .section a:after {
  width: 14px;
  height: 3px;
  margin: -1px -7px 0 0;
  display: block;
  position: absolute;
  bottom: 12px;
  right: 16px;
  z-index: 10;
  overflow: hidden;
  content: '';
  background: #fff;
  transition: background-color 0.1s;
}
.main .section a:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
}
.main .section a .text {
  padding: 6px 36px 5px 7px;
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: .125em;
  color: inherit;
  display: block;
}
.main .section a .heading {
  padding: 9px 36px 5px 7px;
  border-top: 3px solid #000;
  margin: 0;
  font-size: 11px;
  line-height: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: .125em;
  color: inherit;
  display: block;
}
.main .section a .heading:before {
  width: 38px;
  height: 34px;
  display: block;
  content: '';
  position: absolute;
  right: -3px;
  bottom: -3px;
  z-index: 1;
  background: #000;
}
.main .section a:focus,
.main .section a:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}
.main .section#about {
  margin: -13.5vw 0 0 6vw;
}
.main .section#process {
  margin: -10.5vw 0 0 -17vw;
}
.main .section#news {
  margin: -2vw 0 0 19vw;
}
.main .section#skills {
  margin: 8vw 0 0 17vw;
}
.main .section#viralize {
  margin: -2vw 0 0 -35.5vw;
}
.main .section#references {
  margin: -4vw 0 0 -18vw;
}
.main .section#contact {
  margin: -13vw 0 0 11vw;
}
.dots {
  width: 219px;
  padding: 0;
  margin: auto;
  list-style: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 10;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media (min-width: 750px) {
  .dots {
    width: 683px;
    bottom: 40px;
  }
}
.dots > li {
  display: block;
  float: left;
}
.dots > li:first-child {
  display: none;
}
.dots > li:not(:nth-child(2)) {
  margin-left: -3px;
}
.dots > li > a {
  width: 30px;
  height: 10px;
  border: 3px solid #000;
  display: block;
  background: #fff;
  transition: background-color 0.2s ease;
}
@media (min-width: 750px) {
  .dots > li > a {
    width: 88px;
    height: 15px;
  }
}
.dots > li.played a {
  background: #ccc;
}
.dots > li.active a {
  background: #000;
}
/* ==========================================================================
   _VIDEO
   ========================================================================== */
.video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.video video {
  width: 150%;
  height: auto;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: opacity .6s;
}
.video video.backward {
  display: none;
}
